{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'AppartmentRent/style.css' %}" />
<title>MJ travel</title>

<div class="titleImg"></div>

<div class="menu">
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:index' %}" class="appartName">Početna strana</a>
    </div>    
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:destinations' %}" class="appartName">Destinacije</a>
    </div>    
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:contact' %}" class="appartName">Kontakt</a>
    </div>    
</div>

<h1 class="title">Odaberite destinaciju po svojoj meri</h1>

{% if latest_location_list %}
    <ul>
    {% for location in latest_location_list %}
    	<div class="destination">
    		<p class="destinationTitle">{{ location.place }}, {{ location.country }}</p>
    		<div class="destinationImgDiv">
    			<img src="{{ location.photo }}" alt="Destination photo" class="destinationImg">
    		</div>
    		<p class="destinationDesc">{{ location.description }}</p>
    		<p class="destinationInfo">Udaljenost od Beograda: <strong>{{ location.distanceBg }}</strong></p>
    		<p class="destinationInfo">Udaljenost od Niša: <strong>{{ location.distanceNis }}</strong></p>
    		<p class="destinationInfo">Udaljenost od Novog Sada: <strong>{{ location.distanceNs }}</strong></p>
    	</div>
    {% endfor %}
    </ul>
{% else %}
    <p>No appartments are available.</p>
{% endif %}