{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'AppartmentRent/style.css' %}" />
<title>MJ travel</title>

<div class="titleImg"></div>

<div class="menu">
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:index' %}" class="appartName">Početna strana</a>
    </div>    
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:destinations' %}" class="appartName">Destinacije</a>
    </div>   
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:contact' %}" class="appartName">Kontakt</a>
    </div>    
</div>

<h1 class="title">Pronađite idealan smeštaj za Vaš odmor</h1>

{% if latest_appartment_list %}
    <ul>
    {% for appartment in latest_appartment_list %}
    	<div class="appartment">
    		<a href="{% url 'AppartmentRent:detail' appartment.id %}" class="appartName">{{ appartment.name }}</a>
    		<p class="appartPlace">{{ appartment.location.place }}</p>
    	</div>
    {% endfor %}
    </ul>
{% else %}
    <p>No appartments are available.</p>
{% endif %}