{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'AppartmentRent/style.css' %}" />
<title>MJ travel</title>

<div class="titleImg"></div>

<div class="menu">
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:index' %}" class="appartName">Početna strana</a>
    </div>    
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:destinations' %}" class="appartName">Destinacije</a>
    </div>    
    <div class="menuItem">
        <a href="{% url 'AppartmentRent:contact' %}" class="appartName">Kontakt</a>
    </div>    
</div>

<h1 class="title">Uspešno ste izvršili rezervaciju smeštaja.</h1>

