body {
    background-color: #d3dbe8;
}
.titleImg {
	width: 96%;
	height: 400px;
	background: url("images/background1.jpg") no-repeat;
	background-size: cover;
	margin-left: 2%;
}
.menu {
	margin-top: 15px;
	margin-left: 2%;
	width: 96%;
	height: 40px;
	background-color: #e1e7f2;
}
.menuItem {
	text-align: center;
	padding-top: 6px;
	height: 40px;
	width: 15%;
	color: #0a0f44;
	float: left;
	border-right: 1px solid #d3dbe8;
}
.title {
	margin-left: 2%;
	color: #0a0f44;
}
.appartment {
	background-color: white;
	width: 40%;
	height: auto;
	border-radius: 5px;
	float: left;
	margin-right: 7%;
	margin-left: 3%;
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	padding-top: 10px;
}
.appartName {
	font-size: 1.4em;
	color: #0a0f44;
	margin-left: 10px;
	margin-top: 20px;
}
.appartPlace {
	font-size: 1.2em;
	color: #0a0f44;
	margin-left: 10px;
	margin-top: 10px;
}
a {
	text-decoration: none;
}
.appartInfo {
	font-size: 1.2em;
	color: #0a0f44;
	margin-left: 2%;
}
.appartInfoLabel {
	font-size: 1.2em;
	color: #0a0f44;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 2%;
}
.reserveBtn {
	width: 30%;
	margin-left: 2%;
	height: 30px;
	color: white;
	background-color: #0a0f44;
	border-radius: 5px;
	border: none;
	margin-bottom: 30px;
}
.reserveAppartmentBtn {
	width: 60%;
	margin-left: 2%;
	height: 30px;
	color: white;
	background-color: #0a0f44;
	border-radius: 5px;
	border: none;
	margin-bottom: 30px;
}
.submitReservationBtn {
	width: 30%;
	margin-left: 2%;
	height: 30px;
	color: white;
	background-color: #0a0f44;
	border-radius: 5px;
	border: none;
	margin-bottom: 30px;
	margin-top: 30px;
}
.userInput {
	width: 30%;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-left: 2%;
	color: #0a0f44;
	padding-left: 10px;
}
.userArea {
	width: 30%;
	height: 80px;
	border: none;
	border-radius: 5px;
	margin-left: 2%;
	color: #0a0f44;
	padding-left: 10px;
}
.backBtn {
	color: #0a0f44;
	text-decoration: none;
	font-size: 1.2em;
	margin-left: 3%;
}
.appartmentInfoDiv {
	width: 40%;
	float: left;
	margin-left: 1.5%;
}
.appartmentImgDiv {
	margin-top: -45;
	width: 40%;
	margin-left: 10%;
	float: left;
	height: 400px;
}
.appartmentImg {
	width: 100%;
	height: 100%;	
	border-radius: 5px;
}
.destination {
	background-color: white;
	width: 40%;
	height: auto;
	border-radius: 5px;
	float: left;
	margin-right: 7%;
	margin-left: 3%;
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	padding-top: 10px;
}
.destinationTitle {
	font-size: 1.8em;
	color: #0a0f44;
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
}
.destinationDesc {
	font-size: 1.2em;
	color: #0a0f44;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.destinationInfo {
	font-size: 1.3em;
	color: #0a0f44;
	margin-left: 10px;
	margin-top: 20px;
}
.destinationImgDiv {
	width: 96%;
	margin-left: 2%;
	height: 240px;
}
.destinationImg {
	width: 100%;
	height: 100%;
}
.info {
	margin-bottom: 40px;
}
.contactInfoName {
	color: #0a0f44;
	margin-bottom: 0px;
	margin-left: 2%;
}
.contactInfo {
	color: #0a0f44;
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
	margin-left: 2%;
}
.noItems {
	margin-left: 2%;
}